<configuration>
    <system.diagnostics>
        <trace>
            <listeners>
                <remove name="Default" />
                <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
            </listeners>
        </trace>
        <sources>
            <source name="System" switchValue="Error">
                <listeners>
                    <add name="consoleListener" />
                </listeners>
            </source>
            <source name="NCalc" switchValue="Error">
                <listeners>
                    <add name="consoleListener" />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
</configuration>